@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kumbh+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


// variables

$paragraph-color: hsl(219, 9%, 45%);
$dark-color: hsl(220, 13%, 13%);
$tomato-color: hsl(26, 100%, 55%);
$opacity-color: hsl(25, 100%, 94%);
$background-color: hsl(0, 0%, 100%);

html {
    font: 16px "Bai Jamjuree", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    outline: 0;
    user-select: none;

    header {
        width: 100%;
        height: 15vh;

        .logo {
            width: 75%;
            height: 20px;
        }

        ul {
            display: flex;
            font-size: 1rem;
            color: $paragraph-color;

            li {
                font-weight: 400;
            }
        }
    }
}

nav {
    animation: slideMenu .35s ease forwards;
}

@keyframes slideMenu {
    0% {
        left: -10px;
    }

    100% {
        left: 0;
    }
}

header a {
    position: relative;
}

header a:hover {
    color: $dark-color;
}

header a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -20px;
    border-radius: 10px;
    background-color: $tomato-color;
    transition: all .15s ease;
}

header a:hover::after {
    width: 100%;
}

header .basket-profile img:nth-child(1) {
    width: 25px;
    height: 25px;
    color: black;
}

header .basket-profile img:nth-child(1):hover {
    cursor: pointer;
}

header .basket-profile img:nth-child(2) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .15s ease;
}

header .basket-profile img:nth-child(2):hover {
    cursor: pointer;
    border: 2px solid $tomato-color;
}

.purchased {
    position: relative;
}

.cart {
    width: 18px;
    height: 18px;
    border-radius: 45%;
    position: absolute;
    top: -13px;
    right: -10px;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    color: $background-color;
    background-color: $tomato-color;
}

.close-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.hamburger {
    width: 25px;
}


.line {
    position: relative;
    border-top: 1px solid $paragraph-color;
}

.cart-details {
    height: 200px;
    display: none;
    margin: auto;
    background-color: white;
    box-shadow: 0 1px 5px $paragraph-color;
    top: 98px;
    border-radius: 10px;
    z-index: 1;

    h2 {
        color: $dark-color;
    }

    animation: slide_bottom .35s ease;
}

@keyframes slide_bottom {
    from {
        top: 94px;
    }

    to {
        top: 98px;
    }
}

.company-name {
    color: $paragraph-color;
}

h1 {
    color: $dark-color;
}

p {
    color: $paragraph-color;
}

.price-details {
    width: 150px;
}

.offer {
    padding: 2px 5px;
    background-color: black;
    color: $background-color;
}

.original-price {
    color: $paragraph-color;
}

.add-to-cart div:nth-child(2) {
    background-color: $tomato-color;
}

.add-to-cart div:nth-child(1)>span:nth-child(2) {
    color: $dark-color;
}

.add-to-cart div:nth-child(2)>span {
    color: $dark-color;
}

.quantity {
    font-size: 1.3rem;
}

.items {
    background-color: hsl(0, 5%, 83%);
}

.add-to-cart span {
    cursor: pointer;
}

.empty-cart {
    width: 100%;
    height: 80%;
    display: none;
    justify-content: center;
    align-items: center;

    span {
        color: $paragraph-color;
        font-weight: bold;
    }
}

.item-cart {
    height: 80%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .shoes {
        width: 50px;
        height: 50px;
        border-radius: 6px;
    }

    .delete {
        width: 25px;
        height: 30px;
    }
}

.rate {
    color: $dark-color;
}

.btn {
    background-color: $tomato-color;
    padding: 10px;
    width: 94%;
    margin: 10px 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: $dark-color;

    &:hover {
        opacity: .9;
    }
}

.item-cart span:nth-child(1) {
    font-size: .9rem;
    color: $paragraph-color;
}

.add-to-cart div:nth-child(2):hover {
    opacity: .9;
}

.product-image {
    position: relative;
}

.backward,
.forward {
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: $dark-color;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.backward {
    top: 50%;
    left: 10px;
}

.forward {
    top: 50%;
    right: 10px;
}


.all-images img {
    width: 79px;
    transition: opacity .15s ease;
    cursor: pointer;

    &:hover {
        opacity: .6;
    }
}

.active {
    opacity: .6;
    border: 2px solid hsl(16, 77%, 48%);
}